@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  background-color: #e8e5da;
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #000;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

.masthead {
    background: url("../img/masthead-bg.png") repeat left center;
    text-align: center;
    height: 2.5rem;
    margin: 1rem;
}

.title {
    display: inline-block;
    width: 13rem;
    padding: .5em;
    background: url("../img/star.svg") repeat left center;
    background-color: #E7E5D9;
    background-repeat: no-repeat;
    margin-top: -1rem;
    text-shadow: 2px 2px #939598;
}

.logo {
  margin: 0 0.2em 0 0;
  width: 1.2em;
  vertical-align: middle;
}

.panel {
    border-image: url("../img/panel-border.png") 20 20 20 20 stretch stretch;
    border-width: 20px 20px 20px 20px;
}

.icon {
  vertical-align: center;
  width: 20%;
}

.box {
  padding: 70px 2em;

  background:
    url("../img/hat.svg") no-repeat center 18px / 64px auto,
    url("../img/handcuffs.svg") no-repeat center calc(100% - 18px) / 64px auto #87714f
    ;

  color: #fff;
}

.crimes {
    text-align: left;
}

ul {
  padding-left: 1em;
}
